section.section-IconsAcademic{
    padding: 4rem;
}

section.section-IconsAcademic div#title{
    align-items: center;
    text-align: center;
    font-weight: 400;
    padding-bottom: 3rem;
}

section.section-IconsAcademic div#icons ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.section-IconsAcademic div#icons ul li img{
    width: 40px;
    transition: 1s;
    cursor: pointer;
}
section.section-IconsAcademic div#icons ul li img:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 600px){
    section.section-IconsAcademic div#icons ul li img{
        width: 20px;
    }
}

@media screen and (max-width: 800px){

}