section.section-IconsAcademic div#title{
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 400;
}

section.section-IconsAcademic div#icons ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

section.section-IconsAcademic div#icons ul li img{
    width: 40px;
    transition: 1s;
    cursor: pointer;
}
section.section-IconsAcademic div#icons ul li img:hover{
    transform: scale(1.2);
}