section.section-professional{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

section#professional div#container-professional{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 85%;
    text-align: justify;
}

section#professional div#container-professional h1{
    padding-top: 7rem;
    font-size: 35px;
}

section#professional div.container-professional-dates{
    padding: 2rem;
}

section div a img{
    width: 220px;
}

section div ul {
    display: flex;
    gap: 4rem;
}

section div ul li{
    display: flex;
    gap: 10px;
}

section#professional div ul img{
    width: 15px;
}

main div#container-img img{
    margin-top: -50px;
    width: 250px;
    border-radius: 1000px;
}

/* Responsividade: */

@media screen and (max-height: 800px){
    section.section-professional{
        padding-bottom: 0rem;
    }
    section#professional div ul img{
        width: 20px;
        height: 20px;
    }
}
